@import url("https://fonts.googleapis.com/css?family=Inter:regular,medium,bold,black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crimson+Pro:regular,medium,bold,black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:regular,medium,bold,black&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Inter',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #F5F5F5;
}

h2, h3, h4 h5{
  font-size: 2.75rem;
  font-weight: 700;
  font-family: Crimson Pro, serif;
}

.website > h3{
  font-size: 1.8rem;
  font-weight: 700;
  font-family: Crimson Pro, serif;

}

@media only screen and (max-width:480px){
  h2, h3, h4 h5{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Crimson Pro, serif;
  }
  h2 > span, h3 > span, h4 > span, h5 > span{
    margin-top: 2px;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: Crimson Pro, serif;
  }

  
.website > h3{
  font-size: 1.3rem;
  font-weight: 700;
  font-family: Crimson Pro, serif;

}

  
}

.web-img{
  animation-name: float;
  animation-duration: 3s;
  transition: ease-in;
}

@keyframes float{
  0%{transform:translateY(0px);}
  50%{transform: translateY(8px);}
  100%{transform: translateY(0px);}

}